name: CI

on: push
jobs:
  setup:
    runs-on: ubuntu-latest
    steps: 
      - uses:   actions/checkout@v4
      - run: make setup

  lint:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses:   actions/checkout@v4
      - run: make lint

  test:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - uses:   actions/checkout@v4
      - run: make test


